<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <style>
        body{
            padding:20px;
        }
    </style>
</head>
<body>

<form role="form" method="post" action="/user/login">
    <div class="form-group">
        <%if(typeof error !== "undefined"){%>
        <div> 登录有问题，重新登录！</div>
        <%}%>
        <label >用户名称</label>

        <input name="username" placeholder="" />
    </div>
    <div class="form-group">
        <label >用户密码</label>

        <input name="password" placeholder="" />
    </div>

    <button type="submit" class="btn btn-default">登录</button>
</form>
</body>
</html>
