<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <style>
        body{
            padding:20px;
        }
    </style>
</head>
<body>

<form role="form" method="post" action="/user/reg">
    <div class="form-group">
        <label >用户名称</label>
        <%if(errors && errors.username){%>
        <div><%=errors.password%></div>
        <%}%>
        <input name="username" placeholder="" />
    </div>
    <div class="form-group">
        <label >用户密码</label>
        <%if(errors && errors.password){%>
        <div><%=errors.password%></div>
        <%}%>
        <input name="password" placeholder="" />
    </div>
    <div class="form-group">
        <label >确认密码</label>
        <%if(errors && errors.confirm){%>
        <div><%=errors.confirm%></div>
        <%}%>
        <input name="confirm" placeholder="" />
    </div>

    <button type="submit" class="btn btn-default">注册</button>
</form>
</body>
</html>
